<div>Podstrona 2</div>
<div *ngFor="let st of students;let index = index">
    {{ index + 1 }}) {{ st.imie }} {{ st.nazwisko }} - {{ st.wiek }}
</div>
<div #form="ngForm" ngForm>
    <div>
        <label>Imię: </label><input name="name" #name="ngModel" [(ngModel)]="student.imie" minlength="5" required/>
        <div *ngIf="name.touched && name.invalid && name.errors.required">
            Proszę podać imię!
        </div>
        <div *ngIf="name.touched && name.invalid && name.errors.minlength">
            Imię musi mieć minimum 5 znaków!
        </div>
    </div>
    <div>
        <label>Nazwisko: </label><input name="surname" #surname="ngModel" [(ngModel)]="student.nazwisko" [maxlength]="30" required/>
        <div *ngIf="surname.touched && surname.invalid && surname.errors.required">
            Proszę podać nazwisko!
        </div>
        <div *ngIf="surname.touched && surname.invalid && surname.errors.maxlength">
            Nazwisko może mieć maksymalnie 30 znaków!
        </div>
    </div>
    <div>
        <label>Wiek: </label><input name="age" type="number" #age="ngModel" [(ngModel)]="student.wiek" required/>
        <div *ngIf="age.touched && age.invalid && age.errors.required">
            Proszę podać swój wiek!
        </div>
    </div>
    <div>
        <button (click)="addStudent(); form.reset()" [disabled]="age.invalid || surname.invalid || name.invalid">Dodaj</button>
    </div>
</div>