<div>Strona 1 - message: {{ message }}</div>
<div [formGroup]="form">
    <label>Imię: </label><input formControlName="name" /><span class="error" *ngIf="name.errors" >!</span>
    <label>Nazwisko: </label><input formControlName="surname" /><span class="error" *ngIf="surname.errors" >!</span>
    <div formGroupName="address">
        <label>Ulica: </label><input formControlName="street" /><span class="error" *ngIf="street.errors" >!</span>
        <label>Miasto: </label><input formControlName="city" /><span class="error" *ngIf="city.errors" >!</span>
    </div>
</div>
<button (click)="setCity()">Ustaw miasto</button><button [disabled]="form.status === 'INVALID'">Wyślij</button>
<div>Dane: {{ form.value.name || '-' }} {{ form.value.surname || '-' }}</div>
<div>Adres: {{ form.value.address.street || '-' }} {{ form.value.address.city || '-' }}</div>
