.task-list {
    height: 30vh;
    max-height: 30vh;
    overflow-y: auto;
    border: 1px solid black;
}

.body {
    background-color: lightcyan;
    padding: 8px;
}

.filter {
    padding: 4px 0;
}

.newTask h3 {
    display: block;
}

.newTask div {
    display: inline-block;
    padding: 4px 8px;
}

.bolder {
    font-weight: bolder;
}