<div class="body">
  <h2>Zadania do wykonania</h2>
  <div class="filter">Pokaż zadania o priorytecie: 
    <select #priorityFilter (change)="0">
      <option value="false">ALL</option>
      <option *ngFor="let priority of priorities" [value]="priority[1]">{{ priority[0] }}</option>
    </select>
  </div>
  <div class="task-list">
    <div class="task">
        <div class="bolder checkbox"></div>
        <div class="bolder date">Data utworzenia</div>
        <div class="bolder date">Data zakończenia</div>
        <div class="bolder description">Opis</div>
    </div>
    <ng-container *ngFor="let task of taskList | taskPriority:priorityFilter.value">
      <todo-item [task]="task" (taskCompleted)="taskCompleted()"></todo-item>
    </ng-container>
  </div>
  <div class="newTask">
    <h3>Dodaj Nowe Zadanie:</h3>
    <div class="col-3">Opis zadania: <textarea #newTask></textarea></div>
    <div class="col-3">Wybierz priorytet zadania: 
      <select #priority>
        <option *ngFor="let priority of priorities" [value]="priority[1]">{{ priority[0] }}</option>
      </select>
    </div>
    <div><button (click)="addNewTask(newTask.value, priority.value); newTask.value = ''">Dodaj</button></div>
  </div>
</div>