<div class="task" [todoPriority]="task.priority">
    <div class="checkbox"><input type="checkbox" [checked]="!!task.completionDate" [disabled]="!!task.completionDate" (click)="completeTask()" /></div>
    <div class="date">{{ task.creationDate | date:'dd-MM-yyyy' }}</div>
    <div class="date">{{ (task.completionDate | date:'dd-MM-yyyy') || '------'  }}</div>
    <div class="description">{{ task.desc }}</div>
</div>
