<app-hello-world welcome-text="" (greeted)="navigate($event); onGreeted($event)"></app-hello-world>
<div><span routerLink="strona1" [queryParams]="{ message: greetedText }">Strona 1</span> | <span [routerLink]="['strona2']">Strona 2</span> | <span [routerLink]="['strona3']">Strona 3</span></div>
<router-outlet></router-outlet>